<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert Message Board</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
